/* Custom animations */
@import '../shared/styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply m-0 font-sans antialiased overflow-x-hidden;
  }
}
